
<div style="width: 100%;">
    <div style="width: 50%; height: 100px; float: left;"> 
       <mat-card  class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="header"></div>
            <mat-card-title>University</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{sapi}} alt="Photo of Sapientia">
        <mat-card-content>
            <span>{{graduated}}</span>
            <br>
            <a href="https://ms.sapientia.ro/hu">Sapientia</a>
        </mat-card-content>
    </mat-card>
    </div>
    <div style="margin-left: 50%; height: 100px; "> 
        <mat-card class="example-card" >
          <mat-card-header>
              <div mat-card-avatar class="header"></div>
              <mat-card-title>High School</mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{bolyai}} alt="Photo of Bolyi">
          <mat-card-content>
              <span>{{highscool}}</span>
              <br>
              <a href="https://www.bolyai.ro/">Bolyai Farkas</a>
          </mat-card-content>
      </mat-card>
    </div>
</div>