@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-grey);
$my-theme-accent: mat-palette($mat-grey, A200, A800, A400);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme((
  color: (
    primary: $my-theme-primary,
    accent: $my-theme-accent,
    warn: $my-theme-warn,  
  )
));
@include angular-material-theme($my-theme);

