<div class="container">
    <div class="row">
        <div class="col text-style">
            <h1 style="text-align: center; font-size: 45px;">{{pageTitle}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-style">
            <h2 style="text-align: center; font-size: 35px; font:bold">{{introduction}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center">
            <img title="Picture of me."  width="20%" height="80%" src={{me}}>
        </div>
    </div>
    <div class="row">
        <p style="text-align: center; font-size: 35px; font:bold">This is me!</p>
    </div>
</div>